---
## 0. Setup Environment

In [9]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os

---
## A. Project Description

The objective of this project is to develop a predictive model that estimates employee salaries based on a variety of personal, professional, and organizational attributes. By leveraging features such as years of experience, education level, job role, department, performance ratings, and other relevant factors, the model aims to provide accurate salary predictions for employees. This will assist HR professionals, managers, and organizations in making informed decisions regarding compensation planning, talent management, and recruitment strategies. The project involves comprehensive data exploration, feature engineering, and model evaluation to ensure robust and reliable predictions that reflect real-world compensation dynamics.

---
## C. Data Understanding

### C.1   Load Datasets

In [11]:
# # Load training data
training_df = pd.read_csv("../data/raw/Extended_Employee_Performance_and_Productivity_Data")

### C.2 Explore Training Set

In [12]:
training_df.head()

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False

In [13]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Employee_ID                  100000 non-null  int64
 1   Department                   100000 non-null  object
 2   Gender                       100000 non-null  object
 3   Age                          100000 non-null  int64
 4   Job_Title                    100000 non-null  object
 5   Hire_Date                    100000 non-null  object
 6   Years_At_Company             100000 non-null  int64
 7   Education_Level              100000 non-null  object
 8   Performance_Score            100000 non-null  int64
 9   Monthly_Salary               100000 non-null  float64
 10  Work_Hours_Per_Week          100000 non-null  int64
 11  Projects_Handled             100000 non-null  int64
 12  Overtime_Hours               100000 non-null  int64
 13  Sick_Days                    100000 non-null  int64
 14  Remote_Work_Frequency        100000 non-null  int64
 15  Team_Size                    100000 non-null  int64
 16  Training_Hours               100000 non-null  int64
 17  Promotions                   100000 non-null  int64
 18  Employee_Satisfaction_Score  100000 non-null  float64
 19  Resigned                     100000 non-null  bool
dtypes: bool(1), float64(2), int64(12), object(5)
memory usage: 14.6+ MB

In [27]:
training_df.isnull().sum().sort_values(ascending=False)

Employee_ID                    0
Department                     0
Gender                         0
Age                            0
Job_Title                      0
Hire_Date                      0
Years_At_Company               0
Education_Level                0
Performance_Score              0
Monthly_Salary                 0
Work_Hours_Per_Week            0
Projects_Handled               0
Overtime_Hours                 0
Sick_Days                      0
Remote_Work_Frequency          0
Team_Size                      0
Training_Hours                 0
Promotions                     0
Employee_Satisfaction_Score    0
Resigned                       0
dtype: int64

In [28]:
training_df.duplicated().sum()

np.int64(0)

Observations 
- There are No Null values present in this dataset 
- There are int, float, and object datatypes present in the dataset.
- There are no duplicate values

### C.3 Explore Numerical Features

In [ ]:
training_df.describe(include= 'number')

,Employee_ID,Age,Years_At_Company,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,41.029410,4.476070,2.995430,6403.211000,44.956950,24.431170,14.514930,7.008550,50.090500,10.013560,49.506060,0.999720,2.999088
std,28867.657797,11.244121,2.869336,1.414726,1372.508717,8.942003,14.469584,8.664026,4.331591,35.351157,5.495405,28.890383,0.815872,1.150719
min,1.000000,22.000000,0.000000,1.000000,3850.000000,30.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,25000.750000,31.000000,2.000000,2.000000,5250.000000,37.000000,12.000000,7.000000,3.000000,25.000000,5.000000,25.000000,0.000000,2.010000
50%,50000.500000,41.000000,4.000000,3.000000,6500.000000,45.000000,24.000000,15.000000,7.000000,50.000000,10.000000,49.000000,1.000000,3.000000
75%,75000.250000,51.000000,7.000000,4.000000,7500.000000,53.000000,37.000000,22.000000,11.000000,75.000000,15.000000,75.000000,2.000000,3.990000
max,100000.000000,60.000000,10.000000,5.000000,9000.000000,60.000000,49.000000,29.000000,14.000000,100.000000,19.000000,99.000000,2.000000,5.000000

There are a total of 14 Numerical columns
- All numerical columns have the same count, indicating no missing values.,
    - The mean and median are close for most features, suggesting relatively symmetric distributions.,
    - Some features have a large difference between min and max, indicating possible outliers.,
    - Standard deviation varies across features, showing different levels of spread.,
    - The range (min to max) helps identify the scale of each feature.,
    - Quartiles (25%, 50%, 75%) provide insight into the distribution and possible skewness.,
    - Some features may have minimum values at or near zero, which could be meaningful or require further investigation.

### C.4 Explore Categorical Features

In [15]:
training_df.describe(include= 'object')

,Department,Gender,Job_Title,Hire_Date,Education_Level
count,100000,100000,100000,100000,100000
unique,9,3,7,3650,4
top,Marketing,Male,Specialist,2020-09-29 08:03:05.556036,Bachelor
freq,11216,48031,14507,46,50041

In [16]:
categorical_cols = training_df.select_dtypes(include='object').columns

### C.5 Explore Target Variable

In [ ]:
target_name = 'Monthly_Salary'
training_df[target_name].head()

0    6750.0
1    7500.0
2    5850.0
3    4800.0
4    4800.0
Name: Monthly_Salary, dtype: float64

In [18]:
numerical_cols = training_df.select_dtypes(include='number').columns

---
## D. Feature Selection

### D.1 Approach 1

### D.z Final Selection of Features

In [19]:
features_list = []

---
## E. Data Cleaning

### E.1 Copy Datasets

In [20]:
training_df_clean=training_df.copy()

### E.2 Fixing "Missing data "

### E.3 Fixing "Outliers in the final list of features"

---
## F. Feature Engineering

### F.1 Copy Datasets

In [21]:
# Create copy of datasets

training_df_eng = training_df_clean.copy()

### F.2 New Feature ""

---
## G. Data Transformation

### G.1 Copy Datasets

In [22]:
# Create copy of datasets

training_df_trans = training_df_eng.copy()

### G.2 Data Transformation Encoding the categorical features

---
## H. Data Preparation for Modeling

### H.1 Copy Datasets

In [23]:


# Split into train (70%), temp (30%)
train_df, temp_df = train_test_split(training_df_eng, test_size=0.3, random_state=42)

# Split temp into validation (15%) and test (15%)
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

print(f"Train shape: {train_df.shape}")
print(f"Validation shape: {val_df.shape}")
print(f"Test shape: {test_df.shape}")

Train shape: (70000, 20)
Validation shape: (15000, 20)
Test shape: (15000, 20)

### H.2 Split Features and Target Variables

In [24]:

X_train = train_df.drop(columns=[target_name])
y_train = train_df[target_name]

X_val = val_df.drop(columns=[target_name])
y_val = val_df[target_name]

X_test = test_df.drop(columns=[target_name])
y_test = test_df[target_name]

---
## I. Save Datasets

> Do not change this code

In [ ]:
# Ensure the processed data directory exists
os.makedirs('../data/processed', exist_ok=True)

In [25]:

X_train.to_csv('../data/processed/X_train.csv', index=False)
y_train.to_csv('../data/processed/y_train.csv', index=False)

OSError: Cannot save file into a non-existent directory: '..\data\processed'

---
## J. Assess Baseline Model

### J.1 Generate Predictions with Baseline Model

In [ ]:


dummy_regressor = DummyRegressor(strategy="mean")  # Predicts the mean of the target values
dummy_regressor.fit(X_train, y_train)
y_pred = dummy_regressor.predict(X_val)
y_pred

array([574.44604064, 574.44604064, 574.44604064, ..., 574.44604064,
       574.44604064, 574.44604064], shape=(1320,))

### J.2 Selection of Performance Metrics

In [ ]:

rmse = np.sqrt(mean_squared_error(y_val, y_pred))
print(f"RMSE: {rmse}")

RMSE: 71.41122641110427

In [ ]:
mae = mean_absolute_error(y_val, y_pred)
print(f"MAE: {mae}")

MAE: 28.384357945254933

### J.3 Baseline Model Performance

In [ ]:

y_pred = dummy_regressor.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE: {rmse}")

RMSE: 86.92117365503061

In [ ]:
# Calculating accuracy within RMSE range
allowed_range_lower = y_test - rmse
allowed_range_upper = y_test + rmse

within_range = np.logical_and(y_pred >= allowed_range_lower, y_pred <= allowed_range_upper)
accuracy = np.sum(within_range) / len(y_test) * 100

print(f"Accuracy within RMSE range: {accuracy:.2f}%")

Accuracy within RMSE range: 87.83%

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")

MAE: 39.73232608655444

In [ ]:
# Calculating accuracy within mae range
allowed_range_lower = y_test - mae
allowed_range_upper = y_test + mae

within_range = np.logical_and(y_pred >= allowed_range_lower, y_pred <= allowed_range_upper)
accuracy = np.sum(within_range) / len(y_test) * 100

print(f"Accuracy within mae range: {accuracy:.2f}%")

Accuracy within mae range: 76.61%